<%= javascript_include_tag :defaults %>
<% form_tag({:action => :list}, {:name => 'items_form'}) do %>
<TABLE class = "top">
  <tr><th> Лучшие товары:</th>
  <% @bests.each do |best| %>
    <td><%= link_to best.name, :action => :show, :id => best.id%></td>
  <% end %>
  </tr>
</table>
<TABLE class = "list">
  <CAPTION>
    Каталог товаров:
    <%= catalogues_list(params['catalogue_id'], 'catalogue_id',
      'javascript:document.items_form.submit();') %>
  </CAPTION>
  <% if @items.size == 0 %>
    <%=  empty_list() %>
  <% else %>
    <THEAD>
      <TR>
        <TH>Название</TH>
        <% if @inline_actions.size > 0  %>
        <TH>Действия</TH>
        <% end %>
        <th>Цена</th>
        <th>Количество</th>
        <th>Куплено</th>
      </TR>
    </THEAD>
    <TBODY>
      <% @items.each do |item| %>
      <% if item.quantity > 0 %>
      <% @id = item.id %>
      <TR>
        <TD><%= item.name %></TD>
        <td id ="buy<%=item.id%>">
          <%= inline_menu(item.id) %><%= render :partial => 'buy_button' if @user == 'anonimus'%></td>
        <td>
          <%= item.price ? "#{item.price} руб." : "Уточните у менеджера" %> 
        </td>
        <td>
          <span id="quantity<%=item.id%>"><%= item.quantity or "Нет в наличии"%></span>
        </td>
        <td>
          <span id="buy_count<%=item.id%>"><%= item.buy_count%></span>
        </td>
      </TR>
      <% end %>
      <% end %>
    </TBODY>
  <% end %>
</TABLE>
<% end %>